@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

html, body {
    margin: 0;
}

body{
    background-color: rgb(57,15,45);
    font-family: 'Gloria Hallelujah', cursive;
    color: rgb(167,79,142);
}

.title{
    position: relative;
    margin-left: 420px;
}

.salwar{
    text-align: center;
}

p{
    position: relative;
    margin-top: 100px;
}