@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

html, body {
    margin: 0;
}

body{
    background-color: rgb(59, 105, 61);
    font-family: 'Gloria Hallelujah', cursive;
    color: sandybrown;
}

.title{
    position: relative;
    margin-left: 350px;
}